# Misc
.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Build files
client/build

# env variables
.env

# Node modules
node_modules/

# Floobits
.floo
.floobit
.flooignore

# API Keys and Secrets
