.dashContainer {
  padding: 24px;
  background-color: #e5e5e5;
}

.chat-card {
  display: inline-block;
}

.calendar-card {
  display: inline-block;
}

.parallax-container {
  height: 50vh;
  max-height: 400px;
}
