.dashContainer {
  padding: 24px;
  background-color: #e5e5e5;
}

.chat-card {
  display: inline-block;
}

.calendar-card {
  display: inline-block;
}

.todo-card {
  display: inline-block;
}

.parallax-container {
  height: 50vh;
  max-height: 400px;
  margin-bottom: 12px;
}

.card__header {
  line-height: 45px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  font-size: 18px;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 700;
}

.inner-card__header {
  line-height: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  font-size: 14px;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 500;
}

.our-card-title {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.card-height {
  height: 375px !important;
}
@media screen and (max-width: 600px){
  .card-height {
    height: 434px !important;
  }
}

/*.inner-card {
  height: 140px !important;
}*/