.background {
  height: 100vh;
}

.background--1 {
  background: #000 no-repeat center/cover url("../../assets/9.jpg");
}

.background--2 {
  background: #000 no-repeat center/cover url("../../assets/5.jpg");
}

.background--3 {
  background: #000 no-repeat center/cover url("../../assets/3.jpg");
}

.background--4 {
  background: #000 no-repeat center/cover url("../../assets/12.jpg");
}

.background--5 {
  background: #000 no-repeat center/cover url("../../assets/14.jpg");
}

.divide {
  margin-bottom: 36px;
}

.quiz-spinner {
  margin-top: 240px;
}

.progress {
  display: inline-block;
  width: 100%;
  height: 6px;
  max-width: 300px;
  margin: 16vh 0 6vh;
}

.radio {
  color: #e9e9e9;
}

.question { 
  margin: 10vh 0;
}

.question-body {
  font-size: 1.3em;
}

.question-label > label {
  font-size: 1.8em;
}

.quiz-questions > select {
  display: block;
}

.form-btn {
  width: 15%;
  margin-right: 12px;
  margin-left: 12px;
}

