.signup-questions {
  display: block;
}

.signin--box {
  height: 100vh;
  background: #000 no-repeat center/cover url("../assets/15.jpg");
}

.signin__btn {
  padding-right: 40vh;
}

.signin__overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.signin__form {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.signin--box__title {
  padding-top: 27vh;
  text-align: center;
  color: #fff;
  font-size: 35px;
  line-height: 65px;
  font-weight: 700;
  margin: 24px 0 10px;
}

.signin__alert {
  color: #fff;
  font-weight: 70;
}

.form-group {
  background-color: rgba(0, 0, 0, 0.53);
}

.signup--box {
  height: 100vh;
  background: #000 no-repeat center/cover url("../assets/17.jpg");
}

.signup__overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}
