.signup-questions {
  display: block;
  color: black;
}

.signin--box {
  height: 100vh;
  background: #000 no-repeat center/cover url("../../assets/15.jpg");
}

.signin__overlay {
  overflow: auto;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: inline-block;
  margin: auto;
  max-width: 400px;
  padding: 1em 24px;
  border-right: 2px solid #fff;
}

.btn-primary {
  background-color: #4dd0e1;
  transition: .4s;
  width: 100%;
  height: 52px;
}

.btn-primary:hover {
  background-color: #e57373;
}

.signin__form {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.signin--box__title {
  padding: 12vh 0 24px;
  text-align: center;
  color: #4dd0e1;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  margin: 12vh 0;
  border-bottom: 1px dotted #4dd0e1;
}

.signin__alert {
  color: #fff;
  font-weight: 500;
}

.form-group {
  color: #fff;
  border: 1px solid transparent;
  margin: 36px 0;
  padding: 0;
}

.signup--box {
  height: 100vh;
  background: #000 no-repeat center/cover url("../../assets/17.jpg");
}

.signup__overlay {
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.form-group label, .form-group input{
 color: #fff;
 font-size: 1.1em;

}

.signup--box__title {
  padding: 2vh 0 24px;
  text-align: center;
  color: #4dd0e1;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  margin: 2vh 0;
  border-bottom: 1px dotted #4dd0e1;
}

.signup__form {
  max-width: 400px;
  margin: auto;
  padding-top: 1em;
  display: inline-block;
  text-align: center;

}

.form-group label, .form-group input{
 color: #fff;
 font-size: 1.1em;

}

.signup__form {
  max-width: 400px;
  margin: auto;
  padding-top: 1em;
  display: inline-block;
  text-align: center;
}

.form-group label, .form-group input{
 color: #fff;
 font-size: 1.1em;

}

.signup__form {
  max-width: 400px;
  margin: auto;
  padding-top: 1em;
  display: inline-block;
  text-align: center;

}

#small-icon {
  font-size: 1.5rem;
}
