.nav {
  overflow: hidden;
  position: fixed;
  background-color: #00bcd4;
  z-index: 1;
  height: 63px;
  line-height: 60px;
  top: 0;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.118em;
  float: left;
  margin-left: 24px;
}

.menu {
  float: right;
  margin-right: 12px;
}

.menu__item {
  list-style: none;
  display: inline-block;
  transition: .4s;
  border-bottom: 2px solid transparent;
}

.menu__link {
  padding: 0 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  transition: .4s;
  letter-spacing: .15em;
}

.menu__item:hover {
  border-bottom: 2px solid #4dd0e1;
}
