.hero {
  height: 100vh;
  background: #000 no-repeat center/cover url("../../assets/dating.jpg");
}

.hero__overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
}

.hero__header nav {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

.hero__promo {
  padding-top: 31vh;
  text-align: center;
  color: #fff;
}

.hero__promo__pretitle {
  text-transform: uppercase;
  letter-spacing: .26em;
  font-size: 17px;
  font-weight: 500;
}

.hero__promo__title {
  font-size: 82px;
  line-height: 65px;
  font-weight: 500;
  margin: 36px 0 12px;
}

.hero__promo__subtitle {
  font-family: 'Roboto Slab', Georgia, serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  font-style: italic;
  padding: 12px 0;
  margin: 0 auto 15px;
  width: 500px;
}

.hero__promo__btn {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin: 36px 12px;
  padding: 12px 36px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}

.hero__promo__btn--primary {
  background-color: #4dd0e1;
  border: 1px solid #4dd0e1;
  color: #fafafa;
  transition: .4s;
}

.hero__promo__btn--primary:hover {
  background-color: #e57373;
  border: 1px solid #e57373;
  color: #fafafa;
}

.hero__promo__btn--secondary {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #e7e7e7;
  transition: .4s;
}

.hero__promo__btn--secondary:hover {
  background-color: #e57373;
  border: 1px solid #e57373;
  color: #fafafa;
}
